<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} // Mark Abramov</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/960.css">
    <link rel="stylesheet" href="/stylesheets/custom.css">
    <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="Posts feed">
  </head>

  <body>
    <div id="wrapper" class="container_12">
      <h1><a href="/">Random musings</a></h1>
      {{content}}
    </div>

    <div id="footer" class="container_12"><p class="grid_8">All the content is <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>-licensed.</p></div>
  </body>
</html>
