<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} // Mark Abramov</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/960.css">
    <link rel="stylesheet" href="/stylesheets/custom.css">
    <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="Posts feed">
  </head>

  <body>
    <header class="container_12"><h1><a href="/">Random musings</a></h1></header>

    <article class="container_12">
      {{content}}
    </article>

    <footer class="container_12">
      <div class="grid_10">All the content is <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>-licensed.</div>
      <div class="grid_2">
        <ul>
          <li><a href='/feed.xml'>RSS feed</a></li>
          <li><a href='http://github.com/markiz'>Author's github</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
